Body{
    background-color:#7B7D7D ;
}
.home{
    background-color: #1b1c1d;
    height:500px;
    width: 99%;
    margin-left:0.5%;



}
.text{
    margin-left:40%;

}
.text{
    margin-left:40%;
    color: dimgray;

}
.img{
    height: 20px;
    width:40px;

}